//Main

$base-size: 16
$font-family: 'Playfair Display', serif

/* COLORS */

$red: #e74360
$purple: #b4b8c1
$yellow: #FFD429
$lilac: #ecb4b2
$coral: #fbe4e3
$grey: #808080

$mainColor: black
$accentColor: $red
$background-color: white

@import 'font-face'
.minisitio
    @import 'node_modules/bootstrap/scss/bootstrap.scss'
    @import 'mixins'
    @import 'utilidades'
    @import 'youtube'
    @include margin-reset()

    @import 'componentesColores'
    @import 'form'
    @import 'main'
    font-family: $font-family
    overflow: hidden
    color: $mainColor
    background-color: $background-color
    @include font-size($base-size)