//Main

$base-size: 16
$font-family: 'gilroyextrabold'

/* COLORS */

$red: #E94E67
$purple: #65467D
$yellow: #FFD429
$lilac: #AE82B7
$coral: #EB637F
$grey: #606060

$mainColor: black
$accentColor: $red
$background-color: white

@import 'font-face'
.minisitio
    @import 'node_modules/bootstrap/scss/bootstrap.scss'
    @import 'mixins'
    @import 'utilidades'
    @import 'youtube'
    //@include margin-reset()

    @import 'componentesColores'
    @import 'form'
    @import 'main'
    font-family: $font-family
    overflow: hidden
    color: $mainColor
    background-color: $background-color
    @include font-size($base-size)