// Your variable overrides

$cafe: #61250c;
$naranja: #e9501d;
$negro: #0b0700;
$azul-obscuro: #35313c;
$celeste: #009ee3;
$verde-obscuro: #356753;
$verde: #729e2e;
$amarillo: #e2a30b;
$blanco: #fff;


// Colores Manifiesto
$theme-colors: (
    "cafe":$cafe,
    "naranja":$naranja,
    "negro":$negro,
    "azul-obscuro":$azul-obscuro,
    "celeste":$celeste,
    "verde-obscuro":$verde-obscuro,
    "verde":$verde,
    "amarillo":$amarillo,
    "blanco":$blanco,
);

//Inicializar componentes inactivos
$enable-shadows: false;
$enable-gradients: false;
$enable-hover-media-query: true;

//Resetar fonts
$font-size-base:              1rem !default;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.33;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;