<div class="container bg-white py-5 text-center" id="botones">
    <div class="row">
        <div class="col-md-12 py-3">
            <a href="#">
                <button class="btn btn-ripley-red"> botón red</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-ripley-red"&gt; botón red&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
        <div class="col-md-12 py-3">
            <a href="#">
                <button class="btn btn-outline-ripley-red"> botón outline red</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-outline-ripley-red"&gt; botón outline red&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-ripley-purple"> botón purple</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-ripley-purple"&gt; botón purple&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-outline-ripley-purple"> botón purple</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-outline-ripley-purple"&gt; botón purple&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-ripley-yellow"> botón yellow</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-ripley-yellow"&gt; botón yellow&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-outline-ripley-yellow"> botón yellow</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-outline-ripley-yellow"&gt; botón yellow&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-ripley-lila"> botón lila</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-ripley-lila"&gt; botón lila&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-outline-ripley-lila"> botón lila</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-outline-ripley-lila"&gt; botón lila&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-ripley-coral"> botón coral</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-ripley-coral"&gt; botón coral&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-outline-ripley-coral"> botón coral</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-outline-ripley-coral"&gt; botón coral&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
    </div>
    <hr>
    <div class="row bg-ripley-black">
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-ripley-white"> botón white</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-ripley-white"&gt; botón white&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-outline-ripley-white"> botón white</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-outline-ripley-white"&gt; botón white&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
    </div>
    <hr>
    <div class="row bg-ripley-black">
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-ripley-grey"> botón grey</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-ripley-grey"&gt; botón grey&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-outline-ripley-grey"> botón grey</button>
            </a>
            <code>
                &lt;a href="#"&gt;
                    &lt;button class="btn btn-outline-ripley-grey"&gt; botón grey&lt;/button&gt;
                &lt;/a&gt;
            </code>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-ripley-black"> botón black</button>
            </a>
            <code>
                        &lt;a href="#"&gt;
                            &lt;button class="btn btn-ripley-black"&gt; botón black&lt;/button&gt;
                        &lt;/a&gt;
            </code>
        </div>
        <div class="col-md-12 py-3">
            <a href="">
                <button class="btn btn-outline-ripley-black"> botón black</button>
            </a>
            <code>
                        &lt;a href="#"&gt;
                            &lt;button class="btn btn-outline-ripley-black"&gt; botón black&lt;/button&gt;
                        &lt;/a&gt;
            </code>
        </div>
    </div>
</div>