<section class="container bg-white py-5 text-center" id="botones">
    <a href="#">
        <button class="btn btn-red"> botón red</button>
    </a>
    <code>
        &lt;a href="#"&gt;
            &lt;button class="btn btn-red"&gt; botón red&lt;/button&gt;
        &lt;/a&gt;
    </code>

    <hr>

    <a href="">
        <button class="btn btn-purple"> botón purple</button>
    </a>
    <code>
        &lt;a href="#"&gt;
            &lt;button class="btn btn-purple"&gt; botón purple&lt;/button&gt;
        &lt;/a&gt;
    </code>

    <hr>

    <a href="">
        <button class="btn btn-yellow"> botón yellow</button>
    </a>
    <code>
        &lt;a href="#"&gt;
            &lt;button class="btn btn-yellow"&gt; botón yellow&lt;/button&gt;
        &lt;/a&gt;
    </code>

    <hr>

    <a href="">
        <button class="btn btn-lilac"> botón lilac</button>
    </a>
    <code>
        &lt;a href="#"&gt;
            &lt;button class="btn btn-lilac"&gt; botón lilac&lt;/button&gt;
        &lt;/a&gt;
    </code>

    <hr>

    <a href="">
        <button class="btn btn-coral"> botón coral</button>
    </a>
    <code>
        &lt;a href="#"&gt;
            &lt;button class="btn btn-coral"&gt; botón coral&lt;/button&gt;
        &lt;/a&gt;
    </code>

    <hr>

    <a href="">
        <button class="btn btn-white"> botón white</button>
    </a>
    <code>
        &lt;a href="#"&gt;
            &lt;button class="btn btn-white"&gt; botón white&lt;/button&gt;
        &lt;/a&gt;
    </code>

    <hr>

    <a href="">
        <button class="btn btn-grey"> botón grey</button>
    </a>
    <code>
            &lt;a href="#"&gt;
                &lt;button class="btn btn-grey"&gt; botón grey&lt;/button&gt;
            &lt;/a&gt;
        </code>
    <hr>

    <a href="">
        <button class="btn btn-black"> botón black</button>
    </a>
    <code>
            &lt;a href="#"&gt;
                &lt;button class="btn btn-black"&gt; botón black&lt;/button&gt;
            &lt;/a&gt;
    </code>
</section>