
<section class="container bg-white py-5 text-center" id="botones">
    <a href="#">
        <button class="btn btn-red"> ver más red</button>
    </a>

    <hr>

    <a href="">
        <button class="btn btn-purple"> ver más purple</button>
    </a>

    <hr>

    <a href="">
        <button class="btn btn-yellow"> ver más yellow</button>
    </a>

    <hr>

    <a href="">
        <button class="btn btn-lilac"> ver más lilac</button>
    </a>

    <hr>

    <a href="">
        <button class="btn btn-coral"> ver más coral</button>
    </a>

    <hr>

    <a href="">
        <button class="btn btn-white"> ver más white</button>
    </a>

    <hr>
</section>