<div class="cardumen minisitio my-5 py-5" id="minisitio">
    <section class="container-fluid bg-ripley-purple">
        <div class="container">
            <div class="row">
                <div class="col-md 12">
                   
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid bg-ripley-red">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include botones.html %}
                </div>
            </div>
        </div>
    </section>
</div>