<div class="cardumen minisitio my-5 py-5" id="minisitio">
    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md 12">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus sed rem aperiam molestiae tenetur alias culpa, facilis nesciunt ipsa eaque laboriosam beatae non tempore harum nobis expedita animi magnam eum.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-ripley-red">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="producto-dinamico" id="2000363474072"></div>
                </div>
                <div class="col-md-12">
                    <div class="backgroundCalzado"></div>
                    <div class="backgroundDeportes"></div>
                    <div class="backgroundInstrumentos"></div>
                    <div class="backgroundMochila"></div>
                    <div class="backgroundTecno"></div>
                    <div class="backgroundUtiles"></div>
                </div>
            </div>
        </div>
    </section>

</div>