    <title>{{ site.title }}</title>
    <meta name="description" content="Tienda online de Ripley...">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="https://home.ripley.cl/front/public/css/app-88780beb0b.css">
    <link rel="stylesheet" href="https://home.ripley.cl/front/ripley/ripley.css">
    <link rel="stylesheet" href="https://home.ripley.cl/front/public/css/fonts-74c23a94ed.css">
    <!-- Google Fonts -->
      <!-- 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900" rel="stylesheet">
    -->