<!-- PAUL b_ae_header_1 20171018 16:28-->

<div id="hot-price">
    <link rel="stylesheet" href="./css/cyber-nov.css" type="text/css" />

    <div class="slider">
        <div class="caja-color"></div>
        <div class="caja-color"></div>
        <div class="container">
            <div id="main-slider" class="owl-carousel">
                <!-- 1 Tiempo tv-videojuegos 11:12 -->
                <div class="item-vs item">
                    <img class="hidden-xs-down" alt="tic-tac" src="https://home.ripley.cl/minisitios/slider/prueba-cyber/prod1-8b.png" />
                    <img class="hidden-sm-up" alt="tic-tac" src="https://home.ripley.cl/minisitios/slider/prueba-cyber/prod1-8b-mb.png" />
                    <a href="https://simple.ripley.cl/led-samsung-smart-curvo-un55mu6300-55-2000364606403p
"></a>
                    <a href="https://simple.ripley.cl/combo-consola-nintendo-switch-joy-con-fifa-2018-3000000000537
"></a>
                </div>

                <!-- 2 Tiempo computacion -->
                <div class="item-vs item">
                    <img class="hidden-xs-down" alt="tic-tac" src="https://home.ripley.cl/minisitios/slider/prueba-cyber/prod2-8b.png" />
                    <img class="hidden-sm-up" alt="tic-tac" src="https://home.ripley.cl/minisitios/slider/prueba-cyber/prod2-8b-mb.png" />
                    <a href="https://simple.ripley.cl/hp-14-bw005la-amd-a9-8gb-ram-1tb-14-2000363124489p"></a>
                    <a href="https://simple.ripley.cl/acer-predator-gx21-71-intelr-coretm-i7-64gb-ram-1tb-512gb-ssd-nvidia-geforce-gtx1080-sli-21-2000364702822p"></a>
                </div>



            </div>
        </div>
    </div>
</div>